@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$main-font: 'Roboto', sans-serif;
$heading-font: 'Bakbak One', cursive;

$clr-1: #234f37;
