html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  font-family: $main-font;
  background-image: url("../../images/staffan-kjellvestad-y1qOT82fd8k-unsplash.jpg");
  background-size: cover;
  background-position: center;
  .container {
    width: 90%;
    margin: 0 auto;
  }

  header {
    box-shadow: 0 0 15px #888;
    padding: 1.5rem 0;
    h1 {
      margin: 0;
      color: $clr-1;
      font-family: $heading-font;
    }
  }

  .login-section {
    display: flex;
    height: 80vh;
    .login-form {
      margin: auto;
      box-shadow: 0 0 15px #888;
      background-color: #eee;
      border-radius: 20px;
      padding: 1.75rem;
      &__heading{
        margin: 0;
        font-family: $heading-font;
        color: $clr-1;
        border-bottom: 2px solid $clr-1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      &__input-field {
        padding: .5rem 0;
      }
      &__button,
      &__link {
        padding: .3rem .6rem;
        background: $clr-1;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 10px;
      }
      &__link {
        background-color: #ccc;
      }
    }
  }

  .create {
    display: flex;
    height: 80vh;
    &__form {
      margin: auto;
      box-shadow: 0 0 15px #888;
      background-color: #eee;
      border-radius: 20px;
      padding: 1.75rem;
      &__heading {
        margin: 0;
        font-family: $heading-font;
        color: $clr-1;
        border-bottom: 2px solid $clr-1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      &__input-field {
        padding: .5rem 0;
      }
      &__button,
      &__link {
        padding: .3rem .6rem;
        background: $clr-1;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        margin: 1rem 0;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 10px;
      }
      &__link {
        background-color: #ccc;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: 3% auto 7% 6% 9% 5% 8% 8.5% 7% 7%;
    background-color: #888;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 16px;
    text-align: center;
}
.grid-item *{
    margin: auto;
}
}
