html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  font-family: $main-font;
  background-image: url("../../images/staffan-kjellvestad-y1qOT82fd8k-unsplash.jpg");
  background-size: cover;
  background-position: center;
  .container {
    width: 90%;
    margin: 0 auto;
  }

  header {
    box-shadow: 0 0 15px #888;
    padding: 1.5rem 0;
    h1 {
      margin: 0;
      color: $clr-1;
      font-family: $heading-font;
      cursor: default;
    }
  }

  .login-section {
    display: flex;
    height: 80vh;
    .login-form {
      margin: auto;
      box-shadow: 0 0 15px #888;
      background-color: #eee;
      border-radius: 20px;
      padding: 1.75rem;
      &__heading{
        margin: 0;
        font-family: $heading-font;
        color: $clr-1;
        border-bottom: 2px solid $clr-1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      &__input-field {
        padding: .5rem 0;
      }
      &__button,
      &__link {
        padding: .3rem .6rem;
        background: $clr-1;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 10px;
      }
      &__link {
        background-color: #ccc;
      }
    }
  }

  .create {
    display: flex;
    height: 80vh;
    &__form {
      margin: auto;
      box-shadow: 0 0 15px #888;
      background-color: #eee;
      border-radius: 20px;
      padding: 1.75rem;
      &__heading {
        margin: 0;
        font-family: $heading-font;
        color: $clr-1;
        border-bottom: 2px solid $clr-1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }
      &__input-field {
        padding: .5rem 0;
      }
      &__button,
      &__link {
        padding: .3rem .6rem;
        background: $clr-1;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        margin: 1rem 0;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 10px;
      }
      &__link {
        background-color: #ccc;
      }
    }
  }


  .logout-div {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1rem;
    .logout {
      margin: 0 auto;
      text-decoration: none;
      color: #fff;
      background-color: #ad2b2b;
      padding: .3rem .6rem;
      font-weight: 700;
      border-radius: 10px;
    }
  }
  .hikes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2.5rem;
    .hike {
      margin: 1rem;
      box-shadow: 0 0 15px #888;
      background-color: #eee;
      border-radius: 20px;
      padding: 1.75rem;
      div {
        span {
          font-weight: 600;
        }
        padding: .5rem 0;
      }
      &__id {
        display: none;
      }
      &__name {
        width: 300px;
        font-family: $heading-font;
        font-size: 1.3rem;
        border-bottom: 3px solid $clr-1;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        color: $clr-1;
      }
      &__date {
        font-style: italic;
        font-size: .9rem;
      }
      input {
        padding: .3rem .6rem;
        background: $clr-1;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        border-radius: 10px;
      }
      &__delete {
        input {
          background-color: #ad2b2b;
        }
      }
      &__create {
        input {
          background-color: #bbb;
        }
      }
    }
  }
}
